body{
    background-image: url(images/artb.jpg);
    background-size: cover;
    background-attachment: fixed;
}
img {
    width: 50%;
    float:right;
    margin:2%;
    border: 2px solid black;
    border-radius: 20px;
}
.content {
    font-size: larger;
    margin-left: 3%;
    margin-right: 3%;
}
@media screen and (max-width:800px){
    body {
        background-image: url(images/mobi_item.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    img {
        width: 90%;
        margin:5%;
        float:left;
        border-radius: 20px;
    }
}