body{
    background-image: url(images/close.avif);
    background-size: cover;
    background-attachment: fixed;
}
img {
    position:absolute;
    height:40%;
    width:30%;
    left:35%;
    top:30%;
}
a {
    text-decoration: none;
    display: block;
    height:20%;
    width:20%;
    position: absolute;
    left:40%;
    top:20%;
    font-size:10vw;
    text-shadow: 2px 2px white;
    color:orange;
}
@media screen and (max-width:800px) {
    img {
        position:absolute;
        height:30%;
        width:50%;
        left:25%;
        top:35%;
    }
    a {
        height:20%;
        width:20%;
        position: absolute;
        left:40%;
        top:40%;
        font-weight: bolder;
    }
}