body{
    background-image: url(images/sh_back.jpg);
    background-size: cover;
    background-attachment: fixed;
}
header{
    border: 2px solid aquamarine;
    background-color:white;
    width: 90%;
    margin: 2.5% 5% 2.5% 5%;
    border-radius: 15%;
    padding: 1%;
    height: auto;
    display: inline-block;
    position: sticky;
    top:2vw;

}
header>a{
    color:black;
    float: left;
    text-decoration: none;
    font-weight: bold;
}
.dropbtn {
    float: right;
    display: none;
}
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header ul li{
    float: right;
    border:1px solid black;
    margin-left: 3%;
    text-align: center;
    border-radius: 10%;
}
header ul li a{
        background-color: aliceblue;
        color: black;
        text-decoration: none;
        display: block;
        width: 6vw;
}
header ul li a:hover{
    background-color: aquamarine;
}
.active {
    background-color: aquamarine;
}
.paypor {
    border:2px solid black;
    background-color: beige;
    width:40%;
    position: absolute;
    left:30%;
    height: 50%;
    top:35%;
    overflow-y: auto;
}
table {
    padding: 5%;
}
table td{
    padding: 5%;
}
label {
    font-size: larger;
    padding-left:5%;
}
input {
    font-size:larger;
    width:150%;
    padding-left: 3%;
    padding-right: 2%;
}
button {
    float: right;
}
.mob {
    display: none;
}
@media screen and (max-width:800px){
    body {
        background-image: url(images/phone_background.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    header {
        border: 2px solid black;
        background-color: white;
        width: 80%;
        position: -webkit-sticky;
        top: 5%;
        margin: 5% 10% 10% 10%;
        border-radius: 15%;
        padding: 2%;
        height:auto;
    }
    header>a {
        color:black;
    }
    .dropbtn {
        display: inline-block;
    }
    .dropcontent {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: none;
        position: absolute;
        z-index: 2;
        right:10px;
    }
    .dropdown li {
        float:none;
        border: none;
        margin-left:0% ;
        border-bottom: 2px solid black;
    }
    .dropcontent li a{
        background-color: aliceblue;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        width:17vw;
    }
    .dropcontent li a:hover{
        background-color: aquamarine;
    }
    .dropdown:hover .dropcontent{
        display:block;
    }
    .paypor{
        display:none;
    }
    .mob {
        display: block;
    }
    .mob {
        border:2px solid black;
        background-color: beige;
        width:80%;
        left:10%;
        height: 80%;
        top:15%;
        position: absolute;
    }
    .mob table {
        color:black;
    }
    td {
        padding: 2%;
    }
   input {
    width:90%;
    font-size:medium
   }
}    

