.first {
    background-color:antiquewhite;
    width:30%;
    height:100%;
    border: 2px solid black;
    border-right: 0px;
    position: fixed;
    left:0;
}
img {
    margin-left:10%;
    margin-top: 5%;
    width:80%;
    height:60%;
    border:2px solid black;
    border-radius: 10px;
}
.name p {
    margin-left: 5%;
    font-size:x-large;
}
.name i {
    font-size: large;
    padding-left: 5px;
    color:sandybrown;
}
.tones {
    margin-left:15%;
}
.tones div{
    width:40%;
    border: 2px solid black;
    float: left;
    margin-left: 5%;
    font-size: larger;
    text-align: center;
    color: white;
    background-color:dimgray;
    padding: 2%;
    margin-bottom: 5%;
    border-radius: 20px;
}
.second {
    position: absolute;
    right: 2%;
    width:68%;
    background-color:antiquewhite;
    border: 2px solid black;
    border-left:0;
    overflow-y: scroll;
}
.second h3 {
    margin-left:5%;
}
.second p {
    margin-left:10%;
    margin-right: 10%;
}
.second hr {
    margin-left:5%;
    margin-right: 10%;
}
.one {
    margin-left: 10%;
}
.one button {
    background-color: forestgreen;
    color:white;
}
@media screen and (max-width:800px) {
    .first {
        width: 100%;
        clear:both;
        position: relative;
        border: 0cap;
    }
    .second {
        float: left;
        width: 100%;
        border: 0;
    }
    .tones div{
        width:30%
    }
}