body{
    background-image: url(images/web_background.jpg);
    background-size: cover;
    background-attachment: fixed;
}
header{
    border: 2px solid aquamarine;
    background-color:rgba(240, 247, 248, 0.6);
    width: 90%;
    margin: 2.5% 5% 2.5% 5%;
    border-radius: 15%;
    padding: 1%;
    height: auto;
    display: inline-block;
    position: sticky;
    top:2vw;

}
header>a{
    color:white;
    float: left;
    text-decoration: none;
    font-weight: bold;
}
.dropbtn {
    float: right;
    display: none;
}
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header ul li{
    float: right;
    border:1px solid black;
    margin-left: 3%;
    text-align: center;
    border-radius: 10%;
}
header ul li a{
        background-color: aliceblue;
        color: black;
        text-decoration: none;
        display: block;
        width: 6vw;
}
header ul li a:hover{
    background-color: aquamarine;
}
.active {
    background-color: aquamarine;
}
.tag{
    background-color: rgba(0,0,0,0.6);
    color:aliceblue;
    width: 80vw;
    height:auto;
    padding: 3vw;
    font-size: 3vw;
    margin-left:7vw;
    border: 2px solid aquamarine;
    border-radius: 10%;
    z-index:-2;
    font-family: 'Tangerine';
}
.imgbox {
    float:right;
    background-image: url(images/search.avif);
    width:70%;
    height:70%;
    text-align: center;
    font-weight: bold;
    border:2px solid burlywood;
    border-radius: 5%;
    box-shadow: 2px 2px burlywood;
}
.sear {

position:relative;
left:30%;
}
.sear i {
    padding-left: 3%;
    padding-right: 3%;
    float:left;
    background-color: aliceblue;
    border:1px solid black;
    color:black;
    font-size: 50%;
    padding-top: 1.5%;
    padding-bottom:1%;
    height:4%;
    
}
.sear input {
    font-size: 50%;
    float:left;
    padding-top: 1%;
    padding-bottom: 1%;
}
.ser{
    display: none;
    position:relative;
    left:10%;
}
.ser i {
    padding-left: 1%;
    padding-right:1%;
    float:left;
    background-color: aliceblue;
    border:1px solid black;
    color:black;
    font-size: 50%;
    padding-top: 2%;
    padding-bottom:2%;
    height:4%;
}
.ser input {
    font-size: 50%;
    float:left;
    padding-top: 1%;
    padding-bottom: 1%;
    width:70%;
}
.ser img{
    clear:both;
    width:80%;
    position: relative;
    bottom:0%;
    padding-right: 50%;
    left:0;
    padding-top: 10%;
    height: auto;
    
}
.intro{
    color:white;
    font-size: large;
    position: absolute;
    margin-left:5vw;
    margin-right: 5vw;
}
@media screen and (max-width:800px){
    body {
        background-image: url(images/phone_background.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    header {
        border: 2px solid black;
        background-color: white;
        width: 80%;
        position: -webkit-sticky;
        top: 5%;
        margin: 5% 10% 10% 10%;
        border-radius: 15%;
        padding: 2%;
        height:auto;
    }
    header>a {
        color:black;
    }
    .dropbtn {
        display: inline-block;
    }
    .dropcontent {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: none;
        position: absolute;
        z-index: 2;
        right:10px;
    }
    .dropdown li {
        float:none;
        border: none;
        margin-left:0% ;
        border-bottom: 2px solid black;
    }
    .dropcontent li a{
        background-color: aliceblue;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        width:17vw;
    }
    .dropcontent li a:hover{
        background-color: aquamarine;
    }
    .dropdown:hover .dropcontent{
        display:block;
    }
    .tag{
        width: 80%;
        font-size: 10vw;
        top:30vw;
        left:10vw;  
        
    }
    .tag .imgbox{
        display: none;
    }
    .ser {
        display: block;
    }
    .intro {
        display: none;
    }
   
}    

